
.font-sora {
    font-family: "Sora", serif;
  }
.Popular{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

@media screen and (max-width: 768px) {
    .Popular{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    
  }